.textoConImagen{
  font-size:80px;
  font-weight: bold;
  background: url('/carreras/fondoletras.jpeg') no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Para algunos navegadores modernos */
  background-clip: text;
  color: transparent;
}
